body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
}

header {
    background-color: #4caf53;
    color: rgba(255, 255, 255, 0.851);
    padding: 10px 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

header nav ul {
    list-style: none;
    display: flex;
}

header nav ul li {
    margin: 0 15px;
}

header nav ul li a {
    color: rgba(255, 255, 255, 0.914);
    text-decoration: none;
}

.course-container {
    display: flex;
    justify-content: space-around;
    margin: 20px 0;
}

.course-card {
    border: 1px solid #ccc;
    border-radius: 5px;
    padding: 10px;
    text-align: center;
}

.course-card img {
    width: 100%;
    height: auto;
}

.enroll-btn {
    background-color: #4CAF50;
    color: white;
    border: none;
    padding: 10px;
    cursor: pointer;
}

footer {
    text-align: center;
    padding: 20px;
    background-color: #f1f1f1;
}